.Produit{
    width: 250px;
    height: 480px;
    margin:10px;
    padding:5px;
    background-color:rgb(5, 32, 2);
    color:white;
    border: 1px solid rgb(79, 88, 67);
    overflow: hidden;
    text-align:center;
    img {
        width:100%;
    }
    .info{
        font-size:0.8em;
        line-height: 1.3em;
        h3{
            margin:10px;
            height:30px;
            font-weight: 500;
        }
        .prix{
            font-weight: 500;
        }
    }
}